.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .form {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;

    .container-fields {
      display: flex;
      flex-direction: column;
      width: 400px;
      padding: 40px;
      border-radius: 8px;
      background-color: #ffffff;

      .input {
        border-radius: 10px;
        border: none;
        background-color: #e7e7e7;
        height: 34px;
        padding: 10px;
      }

      .label {
        margin-top: 8px;
        font-size: 19px;
      }

      .field-name {
        display: flex;
        flex-direction: column;
      }

      .container-info-password {
        padding: 10px;
        display: flex;
        flex-direction: column;
        border: 1px solid #b20000;
        margin-top: 20px;

        span {
          font-size: 18px;
          font-weight: bold;
          color: #a15d5d;
          padding: 5px;
        }

        .fieldValid {
          color: #5da185;
        }
      }

      .container-buttons {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .btn {
          margin-top: 10px;
          height: 41px;
          border: none;
          border-radius: 10px;
          background-color: #8b54a5;
          color: #fff;
          font-weight: bold;
          font-size: 17px;
          cursor: pointer;
        }

        .btn:last-of-type {
          background-color: #a55479;
        }
      }
    }
  }
}
