<div class="container">
  <form class="form" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
    <div class="container-fields">
      <h2 *ngIf="isLogin">Login</h2>
      <h2 *ngIf="!isLogin">Register</h2>
      <div *ngIf="!isLogin" class="field-name">
        <label class="label">Name</label>
        <input class="input" type="text" id="name" formControlName="name" required />
      </div>
      <label class="label">Email</label>
      <input class="input" type="text" id="email" formControlName="email" required />
      <label class="label">Password</label>
      <input class="input" type="password" id="password" formControlName="password" required />

      <div class="container-info-password" *ngIf="isPasswordInvalid">
        <span [class.fieldValid]="fullValidationRequirements.atLeast1Lowercase">The password must contain at least 1 lowercase alphabetical character</span>
        <span [class.fieldValid]="fullValidationRequirements.atLeast1Uppercase">The password must contain at least 1 uppercase alphabetical character</span>
        <span [class.fieldValid]="fullValidationRequirements.atLeast1numeric">The password must contain at least 1 numeric character</span>
        <span [class.fieldValid]="fullValidationRequirements.atLeast1Special">The password must contain at least one special character</span>
        <span [class.fieldValid]="fullValidationRequirements.mustBe8CharactersOrLonger">The password must be eight characters or longer</span>
      </div>

      <div class="container-buttons" *ngIf="isLogin">
        <button [disabled]="isLoading" class="btn" type="submit">Login</button>
        <button [disabled]="isLoading" class="btn" (click)="toggleLoginRegister()">Don't have an account?</button>
      </div>
      <div class="container-buttons" *ngIf="!isLogin">
        <button [disabled]="isLoading" class="btn" type="submit">Register</button>
        <button [disabled]="isLoading" class="btn" (click)="toggleLoginRegister()">Already Have Account?</button>
      </div>
    </div>
  </form>
</div>
